aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
amqp==5.3.1
annotated-types==0.7.0
anyio==4.11.0
appdirs==1.4.4
arabic-reshaper==3.0.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==3.0.0
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
babel==2.17.0
backoff==2.2.1
backrefs==5.9
bcrypt==4.3.0
beautifulsoup4==4.12.3
bidict==0.23.1
billiard==4.2.1
blinker==1.9.0
build==1.2.2.post1
cachetools==5.5.2
celery==5.4.0
certifi==2024.7.4
cffi==1.17.1
cfgv==3.4.0
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==3.3.2
chromadb==1.0.15
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cohere==5.13.3
colorama==0.4.6
coloredlogs==15.0.1
constantly==23.10.4
crewai==0.148.0
crispy-bootstrap3==2024.1
cron-descriptor==1.4.5
cryptography==45.0.5
cssselect2==0.8.0
daphne==4.1.2
decorator==5.2.1
distlib==0.3.8
distro==1.9.0
Django==5.0.6
django-allauth==64.0.0
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-channels==0.7.0
django-cleanup==8.1.0
django-cors-headers==4.4.0
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
django-extensions==3.2.3
django-filter==24.3
django-htmx==1.19.0
django-timezone-field==7.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
docstring_parser==0.16
docutils==0.21.2
durationpy==0.10
et_xmlfile==2.0.0
executing==2.2.0
fastapi==0.109.2
fastavro==1.9.7
filelock==3.14.0
Flask==3.0.3
Flask-Scss==0.5
Flask-SQLAlchemy==3.1.1
flatbuffers==25.2.10
flower==2.0.1
frozenlist==1.4.1
fsspec==2024.10.0
generativeai==0.0.1
gevent==24.11.1
ghp-import==2.1.0
google==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.176.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-genai==1.41.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
graphene==3.4.3
graphene-django==3.2.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.1.1
grpcio==1.73.1
grpcio-status==1.71.2
gunicorn==23.0.0
h11==0.14.0
html5lib==1.1
htmx==0.0.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.26.5
humanfriendly==10.0
humanize==4.11.0
hyperlink==21.0.0
identify==2.6.12
idna==3.10
ifaddr==0.2.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
incremental==24.7.2
instructor==1.9.2
ipython==9.4.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jiter==0.8.2
json5==0.12.0
json_repair==0.25.2
jsonpickle==4.1.1
jsonref==1.1.0
jsonschema==4.24.1
jsonschema-specifications==2025.4.1
kombu==5.4.2
kubernetes==33.1.0
litellm==1.72.6
lxml==6.0.0
Markdown==3.8.2
markdown-it-py==3.0.0
markdown2==2.5.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.15
mkdocs-material-extensions==1.3.1
mmh3==5.1.0
moviepy==2.1.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.5
neo4j==5.27.0
neomodel==5.4.2
networkx==3.5
nicegui==1.4.36
nodeenv==1.9.1
numpy==1.26.4
oauthlib==3.2.2
ollama==0.5.1
onnxruntime==1.22.0
openai==1.97.0
openpyxl==3.1.5
opentelemetry-api==1.35.0
opentelemetry-exporter-otlp-proto-common==1.35.0
opentelemetry-exporter-otlp-proto-grpc==1.35.0
opentelemetry-exporter-otlp-proto-http==1.35.0
opentelemetry-proto==1.35.0
opentelemetry-sdk==1.35.0
opentelemetry-semantic-conventions==0.56b0
orjson==3.10.7
oscrypto==1.3.0
overrides==7.7.0
packaging==24.2
paginate==0.5.7
pandas==2.2.2
parameterized==0.9.0
parso==0.8.4
pathspec==0.12.1
pdfminer.six==20250506
pdfplumber==0.11.7
pillow==10.4.0
platformdirs==4.2.2
posthog==5.4.0
pre_commit==4.2.0
proglog==0.1.11
prometheus_client==0.21.1
promise==2.3
prompt_toolkit==3.0.48
proto-plus==1.26.1
protobuf==5.29.5
pscript==0.7.7
psycopg2-binary==2.9.10
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybase64==1.4.1
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.18.0
pyHanko==0.29.1
pyhanko-certvalidator==0.27.0
pyjokes==0.6.0
PyJWT==2.10.1
pymdown-extensions==10.16
pyOpenSSL==24.2.1
pypandoc==1.15
pyparsing==3.1.2
pypdf==5.8.0
pypdfium2==4.30.1
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pyScss==1.4.0
python-bidi==0.6.6
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.0.1
python-engineio==4.9.1
python-multipart==0.0.9
python-socketio==5.11.3
pytube==15.0.0
pytz==2024.2
pyvis==0.3.2
PyYAML==6.0.2
pyyaml_env_tag==1.1
redis==5.0.8
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.2
requests==2.32.3
requests-oauthlib==2.0.0
rich==14.0.0
rpds-py==0.26.0
rsa==4.9.1
scss==0.8.73
service-identity==24.1.0
setuptools==73.0.1
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.30
sqlmodel==0.0.27
sqlparse==0.5.0
stack-data==0.6.3
starlette==0.36.3
svglib==1.5.1
sympy==1.14.0
tenacity==9.1.2
text-unidecode==1.3
tiktoken==0.9.0
timescaledb==0.0.4
tinycss2==1.4.0
tokenizers==0.21.0
tomli==2.2.1
tomli_w==1.2.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
Twisted==24.7.0
txaio==23.1.1
typer==0.16.0
types-requests==2.32.0.20241016
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.3.1
uritemplate==4.2.0
uritools==5.0.0
urllib3==2.2.2
uv==0.8.0
uvicorn==0.30.6
vbuild==0.8.2
vine==5.1.0
virtualenv==20.26.2
watchdog==6.0.0
watchfiles==0.23.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.0
Werkzeug==3.0.3
wheel==0.44.0
wsproto==1.2.0
xhtml2pdf==0.2.17
yarl==1.9.4
zipp==3.23.0
zope.event==5.0
zope.interface==7.0.3
